<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Blog</title>
</head>
<body>
<app-blog-navigation></app-blog-navigation>
<!-- Page content-->
<div class="container mt-5">
  <router-outlet></router-outlet>
<!--  <app-blog-post-details></app-blog-post-details>-->
<!--  <app-blog-post-list></app-blog-post-list>-->
</div>
<app-blog-footer></app-blog-footer>
</body>
</html>



